In [1]:
import requests

In [4]:
url = 'https://ohiolinux.org/sessions/'

In [2]:
import webbrowser

In [5]:
webbrowser.open(url)

True

In [ ]:
resp = requests.get(url)

[requests-html](https://html.python-requests.org/)

In [11]:
from requests_html import HTMLSession
session = HTMLSession()
r = session.get(url)

In [7]:
r.html.links

{'https://en.wikipedia.org/wiki/Lightning_talk',
 'https://ohiolinux.org/',
 'https://ohiolinux.org/2016/04/',
 'https://ohiolinux.org/2016/05/',
 'https://ohiolinux.org/2016/06/',
 'https://ohiolinux.org/2016/07/',
 'https://ohiolinux.org/2016/08/',
 'https://ohiolinux.org/2016/09/',
 'https://ohiolinux.org/2016/10/',
 'https://ohiolinux.org/2017/04/',
 'https://ohiolinux.org/2017/06/',
 'https://ohiolinux.org/2017/07/',
 'https://ohiolinux.org/2017/08/',
 'https://ohiolinux.org/2017/09/',
 'https://ohiolinux.org/2018/01/',
 'https://ohiolinux.org/2018/05/',
 'https://ohiolinux.org/2018/07/',
 'https://ohiolinux.org/2018/08/',
 'https://ohiolinux.org/2018/09/',
 'https://ohiolinux.org/2018/10/',
 'https://ohiolinux.org/about/',
 'https://ohiolinux.org/about/conduct-policy/',
 'https://ohiolinux.org/about/speaker-information/',
 'https://ohiolinux.org/about/staff/',
 'https://ohiolinux.org/birds-of-a-feather-topics-for-2018/',
 'https://ohiolinux.org/bof/',
 'https://ohiolinux.org/feed/',
 'https://ohiolinux.org/hotels/',
 'https://ohiolinux.org/linux-professional-institute-at-ohio-linuxfest/',
 'https://ohiolinux.org/news/',
 'https://ohiolinux.org/olfi-training-2018/',
 'https://ohiolinux.org/propose-your-birds-of-a-feather-session-for-ohio-linuxfest-2018/',
 'https://ohiolinux.org/registration-for-olfi-training-programs-is-open/',
 'https://ohiolinux.org/registration/',
 'https://ohiolinux.org/schedule/',
 'https://ohiolinux.org/sessions/',
 'https://ohiolinux.org/speaker-agreement/',
 'https://ohiolinux.org/speakers/',
 'https://ohiolinux.org/speakers/#grimes',
 'https://ohiolinux.org/speakers/#joseph',
 'https://ohiolinux.org/speakers/#lavigne',
 'https://ohiolinux.org/sponsors/',
 'https://ohiolinux.org/sponsors/sponsorship-application/',
 'https://ohiolinux.org/the-schedule-is-here/',
 'https://ohiolinux.org/volunteer/',
 'https://plus.google.com/115427726325867857390',
 'https://twitter.com/ohiolinux',
 'https://www.facebook.com/pages/The-Ohio-LinuxFest/123357071009599',
 'https:/ohiolinux.org/speakers/#benzinger',
 'https:/ohiolinux.org/speakers/#both',
 'https:/ohiolinux.org/speakers/#bowen',
 'https:/ohiolinux.org/speakers/#briggs',
 'https:/ohiolinux.org/speakers/#carlson',
 'https:/ohiolinux.org/speakers/#dicks',
 'https:/ohiolinux.org/speakers/#dowling',
 'https:/ohiolinux.org/speakers/#downling',
 'https:/ohiolinux.org/speakers/#ebright',
 'https:/ohiolinux.org/speakers/#elliott',
 'https:/ohiolinux.org/speakers/#frank',
 'https:/ohiolinux.org/speakers/#graff',
 'https:/ohiolinux.org/speakers/#grimes',
 'https:/ohiolinux.org/speakers/#hofstetter',
 'https:/ohiolinux.org/speakers/#honeycutt',
 'https:/ohiolinux.org/speakers/#howald',
 'https:/ohiolinux.org/speakers/#juarez',
 'https:/ohiolinux.org/speakers/#kimball',
 'https:/ohiolinux.org/speakers/#kittle',
 'https:/ohiolinux.org/speakers/#kovach',
 'https:/ohiolinux.org/speakers/#kromhout',
 'https:/ohiolinux.org/speakers/#kwiatkowski',
 'https:/ohiolinux.org/speakers/#markley',
 'https:/ohiolinux.org/speakers/#mattern',
 'https:/ohiolinux.org/speakers/#miller',
 'https:/ohiolinux.org/speakers/#ovens',
 'https:/ohiolinux.org/speakers/#ownes',
 'https:/ohiolinux.org/speakers/#pritchard',
 'https:/ohiolinux.org/speakers/#slaughter',
 'https:/ohiolinux.org/speakers/#swing',
 'https:/ohiolinux.org/speakers/#vosburg',
 'https:/ohiolinux.org/speakers/#wildman',
 'https:/ohiolinux.org/speakers/#williams',
 'https:/ohiolinux.org/speakers/#zlotnik'}

# `find` for CSS selectors

In [ ]:
strong = r.html.find('strong')[0]

In [ ]:
strong.text

In [8]:
import pandas as pd

In [9]:
cities = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Ohio')

In [10]:
cities[0].head()

          0                1        2               3
0      Name         Counties  Incorp.  Pop. (2010)[3]
1     Akron           Summit     1865             NaN
2  Alliance  Mahoning, Stark     1854             NaN
3   Amherst           Lorain     1872             NaN
4   Ashland          Ashland     1913             NaN

In [ ]:
cities = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Ohio',
                     header=0)

In [ ]:
cities[0].head()

In [ ]:
cities = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Ohio',
                     header=0, thousands=',')

In [ ]:
cities = cities[0]
cities.head()

In [ ]:
cities['population'] = cities['Pop. (2010)[3]']

In [ ]:
cities = cities.drop('Pop. (2010)[3]', axis=1)
cities

In [ ]:
def conv(x):
    return int(x.replace(',', ''))

In [ ]:
cities = pd.read_html('https://en.wikipedia.org/wiki/List_of_cities_in_Ohio',
                      match='wikitables',
                     header=0, converters={'Pop. (2010)[3]':conv})

# Build DataFrame manually

In [21]:
states = ['OH', 'PA', 'MI', 'MN']
capitols = ['Columbus', 'Harrisburg', 'Lansing', 'St. Paul']
frame = pd.DataFrame({'state': states, 'capitol': capitols})
frame

  state     capitol
0    OH    Columbus
1    PA  Harrisburg
2    MI     Lansing
3    MN    St. Paul

# See also 

- scrapy
- Beautiful Soup